body {
font-family: Arial; background-color: #f4f4f4; text-align: center;
}
header {
background-color: #2617ad; color: white;
padding: 20px;
}
.container {
margin-top: 40px;
}
.button {
padding: 10px 20px; background-color: rgb(12, 196, 70); color: white;
border: none;
}
